# Go Artifacts
# Binaries
/bin/
/dist/
main
portfolio
*.exe
*.test

# Vendor 
vendor/
/assets/

# Nix & Direnv 
.direnv/
result
result-*
.last-deploy-hash

# OS & Editor Clutter 
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# Project Specific Junk 
*.bak
project_context.txt
context_builder.py

/server-config/

**.tar.gz
*.tar.gz

